* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #E6B3BE;
    --color-secundary: #8C6DCE;
    --color-tertiary: #fff;
    --color-cuarter: white;
    --border-radius: 10px;
}

.container {
	display: flex;
	gap: 10px;
  padding: 1.2rem;
	flex-wrap: wrap;
  background-color: var(--color-primary);
}

.container__header {
  justify-content: flex-end;
  text-decoration: none;
  
}

.container__logo {
  justify-content: flex-start;
  position: relative;
  display: block;
  
}
.container__logo_img{
  width: 90px;
  height: auto;
  
}
.box {
    padding: 10px;
    border: 1px solid #bbb;
	transition: all 0.1s linear;
}

.box:hover {
	color:var(--color-cuarter);
	font-size:2rem;
	transition: all 0.1s linear;
}
.somos {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	  margin-top: 3rem;
    padding: 2.5rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    line-height: 2;
    color: var(--color-tertiary);
}
.somos__header {
    margin-bottom: 4rem;
    text-align: center;
  }

  .somos__epigraph {
    display: inline-block;
    margin-bottom: 1rem;
    padding: .65rem 1rem .35rem;
    font-size: .85rem;
    line-height: 1;
    text-transform: uppercase;
    background-color: var(--color-tertiary);
    border-radius: 5px;
    color: var(--color-primary);
  }

  .somos__title {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    line-height: 1;
  }
.somos__button {
    max-width: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}
.somos__body {
    display: grid;
    gap: 2rem;
    margin-bottom: 4rem;
    /*
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-columns: 200px 1fr 2fr ;
    grid-template-columns: 200px 1fr ;
    grid-template-columns: repeat (4, 1fr);
    */
    grid-template-columns: repeat (3, auto) ;
    column-gap: 20px;
    row-gap: 20px;
    
  }
