* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #E6B3BE;
    --color-secundary: #8C6DCE;
    --color-tertiary: #fff;
    --border-radius: 10px;
}
.somos {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	margin-top: 3rem;
    padding: 2.5rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    line-height: 2;
    color: var(--color-tertiary);
}
.somos__header {
    margin-bottom: 4rem;
    text-align: center;
  }

  .somos__epigraph {
    display: inline-block;
    margin-bottom: 1rem;
    padding: .65rem 1rem .35rem;
    font-size: .85rem;
    line-height: 1;
    text-transform: uppercase;
    background-color: var(--color-tertiary);
    border-radius: 5px;
    color: var(--color-primary);
  }

  .somos__title {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    line-height: 1;
  }
.somos__button {
    max-width: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}
.somos__body {
    display: grid;
    gap: 2rem;
    margin-bottom: 4rem;
    /*grid-template-columns: 25% 25% 25% 25%  ;*/
    grid-template-columns: auto auto auto ;
    column-gap: 20px;
    row-gap: 20px;
    background-color: aqua;
  }
