body {
	font-family: Libertad;
    background-color: whitesmoke;
}

img {
    width: 50%;
    float: right;
}

.container {
    max-width: 700px;
    margin-left: 30px;
    margin-right: auto;
    border: 2px dashed rgb(188, 203, 215);

}

.bitacora {
    margin-left: 500px;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

/**
 * Selectores por elemento HTML
 */
 body {
    color: #666;
    font-size: 18px;
  }
  table {
    width: 100%;
  }
  th {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
  }
  /**
   * Selector descendente
   */
  thead th {
    font-weight: normal;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .8em;
  }
  /**
   * Múltiples selectores
   */
  th,
  td {
    padding: 1rem;
    vertical-align: middle;
  }
  td {
    font-family: monospace;
    color: rgb(113, 113, 139);
    font-size: 1.2em;
  }
  /**
   * Selector de clase
   */
  .destacado {
    border: 2px dashed rgb(113, 113, 139);
  }
  /**
   * Por posición
   */
  th:first-child {
    text-align: left;
  }
  tr:last-child td {
    border: 2px dotted rgb(62, 83, 62);
  }